<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Advanced Congress of Democrats (ACD)
Alliance for Democracy (AD)
All Progressives Congress {APC}
African Democratic Congress (ADC)
All Progressives Grand Alliance (APGA)
All People&apos;s Party (APP)
African Renaissance Party [ARP]
Conscience People&apos;s Congress [CPC]
Communist Party of Nigeria (CPN)
Democratic Alternative (DA)
Democratic People&apos;s Party (Nigeria) (DPP)
Democratic Socialist Movement (DSM)
Fresh Democratic Party (FDP)
Labour Party [LP]
Masses Movement of Nigeria (MMN)
National Conscience Party (NCP)
New Democrats (ND)
National Democratic Party (NDP)
People&apos;s Democratic Party (PDP)[1]
Progressive Peoples Alliance (PPA)
People Progressive Party (PPP)
People&apos;s Redemption Party (PRP)
People&apos;s Salvation Party (PSP)
Social Democratic Mega Party (SDMP)
United Nigeria People&apos;s Party (UNPP)
United Progressive Party (UPP)[2]</string>
	<string>Alliance for Democracy (AD)</string>
	<string>All Progressives Congress {APC}</string>
	<string>African Democratic Congress (ADC)</string>
	<string>All Progressives Grand Alliance (APGA)</string>
	<string>All People&apos;s Party (APP)</string>
	<string>African Renaissance Party [ARP]</string>
	<string>Conscience People&apos;s Congress [CPC]</string>
	<string>Communist Party of Nigeria (CPN)</string>
	<string>Democratic Alternative (DA)</string>
	<string>Democratic People&apos;s Party (Nigeria) (DPP)</string>
	<string>Democratic Socialist Movement (DSM)</string>
	<string>Fresh Democratic Party (FDP)</string>
	<string>Labour Party [LP]</string>
	<string>Masses Movement of Nigeria (MMN)</string>
	<string>National Conscience Party (NCP)</string>
	<string>New Democrats (ND)</string>
	<string>National Democratic Party (NDP)</string>
	<string>People&apos;s Democratic Party (PDP)</string>
	<string>Progressive Peoples Alliance (PPA)</string>
	<string>People Progressive Party (PPP)</string>
	<string>People&apos;s Redemption Party (PRP)</string>
	<string>People&apos;s Salvation Party (PSP)</string>
	<string>Social Democratic Mega Party (SDMP)</string>
	<string>United Nigeria People&apos;s Party (UNPP)</string>
	<string>United Progressive Party (UPP)</string>
</array>
</plist>
